<div id="main-product" class="col-md-12">
  <div class="tableTools-container">
    <button type="button" class="btn btn-primary create-product" (click)="modal.open()">Add category</button>
  </div>
  <bs-modal #modal>
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Thêm loại sản phẩm</h4>
    </bs-modal-header>
    <bs-modal-body>
      <app-input-field [attribute]="'Tên loại sản phẩm'" [control]="form.get('name')">
      </app-input-field>
      <app-error-label [control]="form"></app-error-label>

      <input type="file">
    </bs-modal-body>
    <bs-modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
      <button id="btn-create-user" class="btn btn-primary add-product" [disabled]="form.invalid">Create</button>
    </bs-modal-footer>
  </bs-modal>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.position }}</td>
        <td>{{ category.image }}</td>
        <td>
          <button> edit </button>
          <button (click)="deleteCategory(category.id)"> delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
