<div id="main-product" class="col-md-12">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dynamic-table_wrapper" class="table table-striped table-bordered
  table-hover dataTable no-footer"
    cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên Khách hàng</th>
        <th>Thời gian giao hàng</th>
        <th>Trạng thái đơn hàng</th>
        <th>Trạng thái thanh toán</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.user.fullname }}</td>
        <td>{{ order.delivery_time }}</td>
        <td>{{ order.processing_status }}</td>
        <td>{{ order.payment_status}}</td>
        <td class="center">
          <button class="btn btn-xs btn-info" tooltip="{{ 'Sửa'}}" >
            <i class="ace-icon fa fa-pencil bigger-120"></i>
          </button>
          <button class="btn btn-xs btn-danger" tooltip="{{ 'Xóa' }}" (click)="deleteorder(order.id)">
            <i class="ace-icon fa fa-trash-o bigger-120"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
