<button class="create-order btn btn-primary" (click)="modalCreate.open()">
  Tạo mới cửa hàng
</button>

<bs-modal #modalCreate cssClass="modal-lg">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Tạo mới cửa hàng</h4>
  </bs-modal-header>


  <bs-modal-footer>
    <button
      type="button"
      class="btn btn-default"
      data-dismiss="modal"
      (click)="modalCreate.dismiss()"
    >
      {{ "Hủy bỏ" }}
    </button>
    <button type="button" class="btn btn-primary" (click)="createShop()">
      {{ "Tạo Mới" }}
    </button>
  </bs-modal-footer>
</bs-modal>
