<!-- //show -->
<div id="main-product" class="col-md-12">
  <!-- //add user -->
  <div class="tableTools-container">
    <button type="button" class="btn btn-primary create-product" (click)="modal.open()">Tạo người dùng</button>
  </div>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dynamic-table_wrapper" class="table table-striped table-bordered
  table-hover dataTable no-footer"
    cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Vai trò</th>
        <th class="sorting_disabled">Hoạt động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.role }}</td>
        <td class="center">
          <button class="btn btn-xs btn-info" tooltip="{{ 'Sửa'}}" (click)="openModalEdit(user)">
            <i class="ace-icon fa fa-pencil bigger-120"></i>
          </button>
          <button class="btn btn-xs btn-danger" tooltip="{{ 'Xóa' }}" (click)="deleteUser(user.id)">
            <i class="ace-icon fa fa-trash-o bigger-120"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<bs-modal #modal [size]="'lg'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Tạo mới người dùng</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div *ngIf="userAddIsMod != 1">
      <app-input-field [attribute]="'Tên'" [control]="formAdd.get('username')">
      </app-input-field>

      <app-input-field [attribute]="'Email'" [control]="formAdd.get('email')">
      </app-input-field>

      <app-input-field [attribute]="'Tên đầy đủ'" [control]="formAdd.get('fullname')">
      </app-input-field>

      <app-input-field [attribute]="'Địa chỉ'" [control]="formAdd.get('address')">
      </app-input-field>

      <app-input-field [attribute]="'Số Điện thoại'" [control]="formAdd.get('phone')">
      </app-input-field>

      <app-input-field [attribute]="'Mật khẩu'" [control]="formAdd.get('password')" [type]="'password'">
      </app-input-field>

      <app-input-field [attribute]="'Nhập lại mật khẩu'" [control]="formAdd.get('password_confirmation')" [type]="'password'">
      </app-input-field>
      <app-error-label [control]="formAdd"></app-error-label>

      <div class="control-group">
        <label for="">Vai trò</label>
        <!-- Choose staff -->
        <div class="radio">
          <label>
            <input [formControl]="formAdd.get('role')" type="radio" class="ace" name="form-field-radio" [value]="'admin'">
            <span class="lbl">
              Admin
            </span>
          </label>
        </div>
        <!-- choose manager -->
        <div class="radio">
          <label>
            <input [formControl]="formAdd.get('role')" type="radio" class="ace" name="form-field-radio" [value]="'mod'">
            <span class="lbl">
              Quản lý
            </span>
          </label>
        </div>
        <!-- Choose staff -->
        <div class="radio">
          <label>
            <input [formControl]="formAdd.get('role')" type="radio" class="ace" name="form-field-radio" [value]="'provider'">
            <span class="lbl">
              Nhà cung cấp
            </span>
          </label>
        </div>
      </div>
    </div>

    <div *ngIf="userAddIsMod == 1" class="col-md-12">
      <label class="control-label">
        <h3>Chi Tiết *</h3>
      </label>
      <div [formGroup]="formAdd" class="text-center">
        <table id="dynamic-table_wrapper" class="table table-striped table-bordered table-hover dataTable no-footer table-description"
          cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Stt</th>
              <th>Nội dung</th>
              <th>Quyền xem</th>
              <th>Quyền thêm</th>
              <th>Quyền sửa</th>
              <th>Quyền xóa</th>
            </tr>
          </thead>
          <tbody>
            <tr formArrayName="role_resources" *ngFor="let item of contents.controls; let i = index;">
              <td class="text-center"> {{i + 1}}</td>
              <td>
                {{resources[i].name}}
              </td>
              <td [formGroupName]="i">
                <input type="checkbox" formControlName="can_view">
                {{item.value.canView}}
              </td>
              <td [formGroupName]="i">
                <input type="checkbox" formControlName="can_add">
                {{item.value.canAdd}}
              </td>
              <td [formGroupName]="i">
                <input type="checkbox" formControlName="can_edit">
                {{item.value.canEdit}}
              </td>
              <td [formGroupName]="i">
                <input type="checkbox" formControlName="can_del">
                {{item.value.canDelete}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
  </bs-modal-body>
  {{ formAdd.value | json }}
  <bs-modal-footer>
    <button id="btn-create-user" class="btn btn-primary add-product pull-left" *ngIf="userAddIsMod == 1" (click)="backAddUser()">Trở
      lại</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Hủy bỏ</button>
    <button id="btn-create-user" class="btn btn-primary add-product" *ngIf="formAdd.value.role != 'mod' || userAddIsMod == 1"
      (click)="addUser(formAdd.value)">Tạo
      mới</button>
    <button id="btn-create-user" class="btn btn-primary add-product" *ngIf="formAdd.value.role == 'mod' && userAddIsMod != 1"
      (click)="editMode()">Xét
      quyền</button>
  </bs-modal-footer>
</bs-modal>

<!-- //edit user -->
<bs-modal #modalEdit [size]="'lg'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Chỉnh sửa thông tin</h4>
  </bs-modal-header>

  <bs-modal-body>

    <app-input-field [attribute]="'Tên'" [control]="formEdit.get('username')">
    </app-input-field>

    <app-input-field [attribute]="'Email'" [control]="formEdit.get('email')">
    </app-input-field>

    <app-input-field [attribute]="'Tên đầy đủ'" [control]="formEdit.get('fullname')">
    </app-input-field>

    <app-input-field [attribute]="'Địa chỉ'" [control]="formEdit.get('address')">
    </app-input-field>

    <app-input-field [attribute]="'Số Điện thoại'" [control]="formEdit.get('phone')">
    </app-input-field>

    <app-input-field [attribute]="'Mật khẩu'" [control]="formEdit.get('password')" [type]="'password'">
    </app-input-field>

    <app-input-field [attribute]="'Nhập lại mật khẩu'" [control]="formEdit.get('password_confirmation')" [type]="'password'">
    </app-input-field>
    <app-error-label [control]="formEdit"></app-error-label>

    <div class="control-group">
      <label for="">Vai trò</label>
      <!-- choose manager -->
      <div class="radio">
        <label>
          <input [formControl]="formEdit.get('role')" type="radio" class="ace" name="edit-user-radio" [value]="'mod'">
          <span class="lbl">
            Quản lý
          </span>
        </label>
      </div>
      <!-- Choose staff -->
      <div class="radio">
        <label>
          <input [formControl]="formEdit.get('role')" type="radio" class="ace" name="edit-user-radio" [value]="'provider'">
          <span class="lbl">
            Nhà cung cấp
          </span>
        </label>
      </div>
      <!-- Choose staff -->
      <div class="radio">
        <label>
          <input [formControl]="formEdit.get('role')" type="radio" class="ace" name="edit-user-radio" [value]="'admin'">
          <span class="lbl">
            Admin
          </span>
        </label>
      </div>
    </div>
  </bs-modal-body>


  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalEdit.dismiss()">Hủy bỏ</button>
    <button id="btn-create-user" class="btn btn-primary add-product" (click)="updateUser(formEdit.value)">Cập
      nhật</button>
  </bs-modal-footer>
</bs-modal>
