<script type="text/javascript">
  try {
    ace.settings.loadState('sidebar')
  } catch (e) {}

</script>

<ul class="nav nav-list">
  <li routerLinkActive="active">
    <a [routerLink]="['/category']">
      <i class="menu-icon fa fa-desktop"></i>
      <span class="menu-text"> Categories </span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/user']">
      <i class="menu-icon fa fa-credit-card "></i>
      <span class="menu-text"> Users </span>
    </a>
  </li>

  <li routerLinkActive="active">
    <a [routerLink]="['/product']">
      <i class="menu-icon fa fa-tasks "></i>
      <span class="menu-text">
        Products
      </span>
    </a>
  </li>

  <li routerLinkActive="active">
    <a [routerLink]="['/order']">
      <i class="menu-icon fa fa-envelope"></i>
      <span class="menu-text"> Orders </span>
    </a>
  </li>


  <li routerLinkActive="active">
    <a [routerLink]="['/promotion']">
      <i class="menu-icon fa fa-users "></i>
      <span class="menu-text">
        Promotions
      </span>
    </a>
  </li>

  <li routerLinkActive="active">
    <a [routerLink]="['/coupon']">
      <i class="menu-icon fa fa-users "></i>
      <span class="menu-text">
        Coupons
      </span>
    </a>
  </li>


</ul>
<!-- /.nav-list -->

<!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
  <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left"
    data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<!-- /section:basics/sidebar.layout.minimize -->
