<div id="main-product" class="col-md-12">

  <div class="tableTools-container" *ngIf="isProvider">
    <button type="button" class="btn btn-primary create-product" (click)="modal.open()">Tạo mới sản phẩm</button>
  </div>
  <bs-modal #modal>
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Tạo mới sản phẩm</h4>
    </bs-modal-header>
    <bs-modal-body>
      <app-input-field [attribute]="'Tên loại sản phẩm'" [control]="form.get('name')">
      </app-input-field>
      <app-error-label [control]="form"></app-error-label>

      <div>Category</div>
      <ng-select [items]="categories$" bindLabel="name" autofocus bindValue="id" [(ngModel)]="category_id">
      </ng-select>

      <app-input-field [attribute]="'Describe'" [control]="form.get('describe')">
      </app-input-field>
      <app-error-label [control]="form"></app-error-label>

      <app-input-field [attribute]="'Giá'" [control]="form.get('price')">
      </app-input-field>
      <app-error-label [control]="form"></app-error-label>

      <app-input-field [attribute]="'Nguồn gốc'" [control]="form.get('origin')">
      </app-input-field>
      <app-error-label [control]="form"></app-error-label>

      <app-input-field [attribute]="'Số lượng'" [control]="form.get('quantity')">
      </app-input-field>
      <app-error-label [control]="form"></app-error-label>

      <app-input-field [attribute]="'Số ngày sử dụng'" [control]="form.get('number_expired')">
      </app-input-field>
      <app-error-label [control]="form"></app-error-label>

      <h3>File upload</h3>
      <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
      <button (click)="fileInput.click()">Chọn ảnh</button>
      <img [src]="url" height="50"> <br />

    </bs-modal-body>
    <bs-modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
      <button id="btn-create-user" class="btn btn-primary add-product" (click)="postProduct(form.value)">Create</button>
      <!-- [disabled]="form.invalid" -->
    </bs-modal-footer>
  </bs-modal>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th *ngIf="!isProvider">Shop</th>
        <th>Category</th>
        <th>Describe</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Origin</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td *ngIf="!isProvider">{{ product.shop_id }}</td>
        <td>{{ product.category_id }}</td>
        <!-- <td>{{ product.shop.name }}</td>
        <td>{{ product.category.name }}</td> -->
        <td>{{ product.describe}}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.origin }}</td>
        <td>
          <button> edit </button>
          <button (click)="deleteProduct(product.id)"> delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
